@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 49 50% 94%; /* Light pink */
		--foreground: 231 23% 16%; /* Dark blue-gray */
		--primary: 127 13% 61%; /* Muted green */
		--primary-foreground: 231 23% 16%; /* Dark blue-gray */
		--secondary: 285 20% 80%; /* Lavender */
		--secondary-foreground: 231 23% 16%; /* Dark blue-gray */
		--accent: 289 13% 44%; /* Muted purple */
		--accent-foreground: 49 50% 94%; /* Light pink */
		--destructive: 0 84% 37%; /* Standard red */
		--destructive-foreground: 0 0% 98%; /* White */
		--muted: 285 20% 80%; /* Lavender */
		--muted-foreground: 231 23% 16%; /* Dark blue-gray */
		--card: 127 13% 61%; /* Muted green */
		--card-foreground: 231 23% 16%; /* Dark blue-gray */
		--popover: 49 50% 94%; /* Light pink */
		--popover-foreground: 231 23% 16%; /* Dark blue-gray */
		--border: 289 13% 44%; /* Muted purple */
		--input: 289 13% 44%; /* Muted purple */
		--ring: 285 20% 80%; /* Lavender */
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer base {
	@font-face {
		font-family: 'Borel';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/Borel/Borel-Regular.ttf');
	}

	@font-face {
		font-family: 'Amsterdam';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/amsterdam_4/Amsterdam.ttf');
	}

	@font-face {
		font-family: 'Dancing Script';
		font-style: normal;
		font-display: swap;
		src: url('/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf');
	}

	@font-face {
		font-family: 'Sacramento';
		font-style: normal;
		font-display: swap;
		src: url('/fonts/Sacramento/Sacramento-Regular.ttf');
	}
}

::selection {
	background: hsl(285 20% 80%);
	color: black;
}
