@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 49 50% 94%; /* Light pink */
		--foreground: 231 23% 16%; /* Dark blue-gray */
		--primary: 127 13% 61%; /* Muted green */
		--primary-foreground: 231 23% 16%; /* Dark blue-gray */
		--secondary: 285 20% 80%; /* Lavender */
		--secondary-foreground: 231 23% 16%; /* Dark blue-gray */
		--accent: 289 13% 44%; /* Muted purple */
		--accent-foreground: 49 50% 94%; /* Light pink */
		--destructive: 0 84% 37%; /* Standard red */
		--destructive-foreground: 0 0% 98%; /* White */
		--muted: 285 20% 80%; /* Lavender */
		--muted-foreground: 231 23% 16%; /* Dark blue-gray */
		--card: 127 13% 61%; /* Muted green */
		--card-foreground: 231 23% 16%; /* Dark blue-gray */
		--popover: 49 50% 94%; /* Light pink */
		--popover-foreground: 231 23% 16%; /* Dark blue-gray */
		--border: 289 13% 44%; /* Muted purple */
		--input: 289 13% 44%; /* Muted purple */
		--ring: 285 20% 80%; /* Lavender */
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer base {
	@font-face {
		font-family: 'Arimo';
		font-style: normal;
		font-display: swap;
		src: url('/fonts/Arimo/Arimo-VariableFont_wght.ttf');
	}

	@font-face {
		font-family: 'Free Serif';
		font-style: normal;
		font-display: swap;
		src: url('/fonts/freeserif-font/FreeSerif-4aeK.ttf');
	}

	@font-face {
		font-family: 'Scandilover';
		font-style: normal;
		font-display: swap;
		src: url('/fonts/scandilover_script/Scandilover Script.ttf');
	}
}

::selection {
	background: hsl(285 20% 80%);
	color: black;
}
